nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#drejt{
    display: flex;
}
#main{
 display: flex;
 align-items: center;
}

#blue{
    background-color: lightblue;
    width: 80%;
}
.icons{
    width: 30px;
    height: 30px;
}
#width{
    width: 390px;
    height: 290px;
}